{% extends 'base.html' %}

{% block heading %}{% endblock heading %}

{% block content %}

  <section>
    <div class="card">

      <div class="card-body">
        <div class="card-title">
          <h4>Meus áudios</h4>
        </div>

        <table class="display table table-striper table-bordered">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Filename</th>
              <th>Conteúdo</th>
              <th>Transcrito</th>
              <th>Preview</th>
              <th>Remover</th>
            </tr>
          </thead>

          <tbody>
            {% for audio in meus_audios %}
              <tr>
                <td>
                  <a style="color: #007bff;" href='{% url "audios:audio" audio.id  %}'>{{audio.nome}}</a>
                </td>
                <td>
                  {{audio.filename}}
                </td>
                <td>
                  <audio src="{{audio.file.url}}" controls></audio>
                </td>
                <td>
                  {{audio.foi_processado}}
                </td>
                <td>
                  {{audio.processedaudio.trechos.first.text|slice:":50"}}
                </td>
                <td>
                  <a style="color: #007bff;" href='{% url "audios:remove_audio" audio.id  %}'>
                    <i class="fa fa-times hvr-grow" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div>
        <a class="btn btn-primary" href="{% url 'audios:upload_audio' %}" role="button">Upload</a>
      </div>
    </div>
  </section>

{% endblock %}


