{% extends 'base.html' %}

{% block heading %}{% endblock heading %}

{% block content %}

  <section>
    <div class="card">

      <div class="card-body">
        <div class="card-title">
          <h4>Áudio : {{audiodoc.nome}}</h4>
        </div>

        <div>
          <audio src="{{audiodoc.file.url}}" controls></audio>
        </div>

        {% if audiodoc.foi_transcrito %}
          <div>
            <h5>Transcrição</h5>
            <div>{{audiodoc.transcricao}}</div>

            <div>
              <a class="btn btn-primary" href="{% url 'audios:transcreve_audio' audiodoc.id %}" role="button">Processar texto</a>
            </div>
          </div>
        {% else %}
          <div>
            <a class="btn btn-primary" href="{% url 'audios:transcreve_audio' audiodoc.id %}" role="button">Transcrever</a>
          </div>
        {%endif%}
      </div>
    </div>
  </section>

{% endblock %}


