{% extends 'base.html' %}

{% block heading %}{% endblock heading %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  {% if not audiodoc.foi_processado and not audiodoc.processando %}
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{% url 'audios:processa_audio' audiodoc.id 'vr' %}" role="button">
      <i class="fas fa-download fa-sm text-white-50"></i> Processar Audio - Vosk
    </a>
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{% url 'audios:processa_audio' audiodoc.id 'gr' %}" role="button">
      <i class="fas fa-download fa-sm text-white-50"></i> Processar Audio - Google
    </a>
  {% endif %}

</div>


{% if audiodoc.processando %}
  <!-- Aviso -->
  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header bg-white py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">Aviso</h6>
        </div>

        <!-- Card Body -->
        <div class="card-body text-center">
          <h1>Seu áudio está sendo processando...</h1>

          <div class="text-center mt-4" style="font-size: 14px">
            <div id="progress-bar-message">
              Esperando a tarefa iniciar...
            </div>
          </div>
          <div class='progress-wrapper' style="padding-top: 10px;">
            <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar' style="height:30px; width: 0%; border-radius: 5px">&nbsp;</div>
          </div>
          <div id="celery-result"></div>

        </div>
      </div>
    </div>
  </div>



{% endif %}

{% if audiodoc.foi_processado %}

  <!-- Audio -->
  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header bg-white py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">Áudio</h6>
        </div>

        <!-- Card Body -->
        <div class="card-body text-center">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-12">

              <table class='table' style="text-align: left;">
                <tbody>
                  <tr>
                    <td style="border-top: none;" class="font-weight-bold py-2 by-0">Descrição</td>
                    <td style="border-top: none;" class="py-2">{{audiodoc.nome}}</td>
                  </tr>
                  <tr>
                    <td style="border-top: none;" class="font-weight-bold py-2 by-0">Processador</td>
                    <td style="border-top: none;" class="py-2">{{audiodoc.processedaudio.processor}}</td>
                  </tr>
                  <tr>
                    <td style="border-top: none;" class="font-weight-bold py-2">Filename</td>
                    <td style="border-top: none;" class="py-2">{{audiodoc.filename}}</td>
                  </tr>
                  <tr>
                    <td style="border-top: none;" class="font-weight-bold py-2">Tamanho</td>
                    <td style="border-top: none;" class="py-2">{{audiodoc.size}} bytes</td>
                  </tr>
                  <tr>
                    <td style="border-top: none;" class="font-weight-bold py-2">Extensão</td>
                    <td style="border-top: none;" class="py-2">{{audiodoc.ext}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="col-xl-6  col-lg-6  col-sm-12">
              <!-- <audio id='audioel' src="{{audiodoc.file.url}}" controls></audio> -->
              <video id='videoel' controls width="500px">
                <source type="{{audiodoc.mime}}" src="{{audiodoc.file.url}}">
                <track label="Português" kind="subtitles" srclang="pt-br" src="{{audiodoc.processedaudio.file_legenda.url}}" default>
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Wordcloud -->
  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header bg-white py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">Wordcloud</h6>
        </div>

        <!-- Card Body -->
        <div class="card-body text-center">
          <img class='img-fluid' src="{{audiodoc.processedaudio.file_wc.url}}" alt="Wordcloud">
        </div>
      </div>
    </div>
  </div>

  <!-- Termos Mais Frequentes -->
  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header bg-white py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">Termos Mais Frequentes</h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class='table table-bordered' id='dataTable2'>
              <thead>
                <th>Termo</th>
                <th>Quantidade</th>
              </thead>
              <tbody>
                {% for dado in audiodoc.processedaudio.mais_frequentes.all %}
                  <tr>
                    <td>{{dado.termo}}</td>
                    <td>{{dado.qtd}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Transcrição -->
  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header bg-white py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">Transcrição</h6>
        </div>

        <!-- Card Body -->
        <div class="card-body p-0">
          <div id='transcricao' style='width: 100%; height: 200px; overflow-y: scroll; border: 1px solid rgba(3,10,15,0.3);' class='p-2'>
            {% for dado in audiodoc.processedaudio.trechos.all %}
              <span onclick='playAudio({{dado.start}})' class='hvr-fade p-1' start='{{dado.start}}'>
                {{dado.text}}
              </span>
            {% endfor %}
          </div>

          <div class="w-100" style="text-align: right;">
            <button id='downloadLink' class='m-3 btn btn-sm btn-primary shadow-sm'>Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}


  <script>
    function playAudio(start) {
      var videoel = document.getElementById('videoel');
      videoel.currentTime = start;
      videoel.play()
    }

    $(document).ready(function() {
      $('#dataTable').DataTable({language: datatables_ptbr});
      $('#dataTable2').DataTable({language: datatables_ptbr});

      function downloadInnerHtml(filename, elId, mimeType) {
        var elHtml = document.getElementById(elId).innerText;
        var link = document.createElement('a');
        mimeType = mimeType || 'text/plain';

        link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click();
      }

      $('#downloadLink').click(function(){
        downloadInnerHtml('transcricao.txt', 'transcricao');
      })
    });

  </script>


{% if task_id %}
  <script type="text/javascript">
    function processSuccess(progressBarElement, progressBarMessageElement, result) {
			// Build Success URL (replace 'namespace' with your own)
			var success_url = "{% url 'audios:audio' audiodoc.id %}"
			window.location.replace(success_url)
		}

    // Progress Bar (JQuery)
    $(function () {
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
      CeleryProgressBar.initProgressBar(progressUrl, {
        onSuccess: processSuccess
      })
    });
  </script>
{% endif %}

{% endblock %}


