{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block heading %}{% endblock heading %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Atualizando dados</h1>
</div>

<!-- Aviso -->
<div class="row">
  <div class="col-xl-12 col-sm-12">
    <div class="card shadow mb-4">
      <!-- Card Header -->
      <div class="card-header bg-white py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold">Usuário: {{ user.username }}</h6>
      </div>

      <!-- Card Body -->
      <div class="card-body">
        <form method="post" action="{% url 'users:update' %}">
          {% csrf_token %}
          {{ form|crispy }}

          <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
