{% extends "base.html" %}
{% load static %}

{% block heading %}{% endblock heading %}

{% block content %}

<!--Grid row-->
<div class="row wow fadeIn">
  <div class="col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h2>{{ object.username }}</h2>
        {% if object.name %}
          <p>{{ object.name }}</p>
        {% endif %}

        {% if object == request.user %}
          <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Perfil</a>
          <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

